<style type="text/css">
	.grid-prods:hover{
		/*border: solid 1px black;*/
		cursor: pointer;
		border-radius: 5px 5px 5px 5px;
	    -moz-border-radius: 5px 5px 5px 5px;
	    -webkit-border-radius: 5px 5px 5px 5px;
	    -webkit-box-shadow: 0px 0px 5px 0px rgb(28, 139, 202);
		-moz-box-shadow: 0px 0px 5px 0px rgb(28, 139, 202);
		box-shadow: 0px 0px 5px 0px rgb(28, 139, 202);
		transition: all 0.6s ease-out;
		opacity: 0.8;
	}
	.grid-prods:hover>div>a{
		border-color: rgba(199, 219, 255, 0.86);
	}
	
	.grid-prods>div>a:hover{
		background: rgba(199, 219, 255, 0.86);
	}
	.details-container{
		padding: 10px;
	}
	.img-slider{
		border-radius: 5px 5px 5px 5px;
	    -moz-border-radius: 5px 5px 5px 5px;
	    -webkit-border-radius: 5px 5px 5px 5px;
	}
</style>
<br>
<ui-carousel 
  slides="slides"
  slides-to-show="3"
  slides-to-scroll="1"
  initial-slide="0"
  autoplay="false"
  autoplay-speed="5000"
  dots="true" style="text-align: center;    margin-left: 4%;   width: 90%;">
  <carousel-item>
  	<a href="">
		<img src="{{item.image}}" width="300px" class="img-slider grid-prods">
	</a>
  </carousel-item>
</ui-carousel><br>
<div class="row" style="background: white;">
	<div class="col-md-11" style="margin-left: 4%">
		<div class="panel panel-primary">
		  <div class="panel-body">
		    <i class="fa fa-star"></i> PRODUCTOS DESTACADOS
		  </div>
		  <div class="panel-footer">
		  	<ui-carousel 
				  slides="slides"
				  slides-to-show="4"
				  slides-to-scroll="1"
				  initial-slide="0"
				  autoplay="true"
				  autoplay-speed="5000"
				  dots="false" style="text-align: center;    margin-left: 4%;   width: 90%;">
				  <carousel-item>
					  	<a href="">
					  		<img src="{{item.image}}" width="150px" class="img-slider grid-prods">
					  	</a>
				  </carousel-item>
				</ui-carousel>
		  </div>
		</div>
	</div>
</div>
<div class="row" style="background: white;">
	<div class="col-md-11" style="margin-left: 4%">
		<div class="panel panel-primary">
		  <div class="panel-body">
		    <i class="fa fa-shopping-bag"></i> PRODUCTOS RECIENTES
		  </div>
		  <div class="panel-footer">
		  	<ul class="dynamic-grid" angular-grid="productsList" grid-width="200" gutter-size="10" angular-grid-id="gallery" refresh-on-img-load="false" >
			     <li data-ng-repeat="prod in productsList" class="grid grid-prods">
			         <img src="{{prod.picDefault}}" style="width: 100%;
    min-height: 200px !important;
    max-height: 200px !important;
    vertical-align: middle;
    transition: opacity 0.6s ease-out;
    background-color: #fff;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    cursor: pointer;" />
    <span class="label label-info" style="float: right;
    font-size: 20px;
    position: absolute;
    top: 16px;
    right: 8px;"> $ {{prod.precio}}</span>
					 <div class="details-container">
					 <h5><i class="fa fa-cart-arrow-down"></i> <strong>{{prod.nombre}}</strong></h5>
					 <hr>
					 	<p style="word-wrap: break-word; height: 70px;">{{ prod.description | limitTo: 30 }}{{prod.description.length > 30 ? '...' : ''}}</p>
					 	<a href="" class="btn btn-default pull-right"><i class="fa fa-eye"></i></a>
					 	<a href="" class="btn btn-default"><i class="fa fa-cart-plus"></i></a>
					 </div>
			         
			     </li>
			 </ul>
		  </div>
		</div>
	</div>
</div>

<div class="row" style="background: white;">
	<div class="col-md-11" style="margin-left: 4%">
		<div class="panel panel-primary">
		  <div class="panel-body">
		    <i class="fa fa-shopping-bag"></i> PRODUCTOS RELACIONADOS
		  </div>
		  <div class="panel-footer">
		  	<ul class="dynamic-grid" angular-grid="prods" grid-width="200" gutter-size="10" angular-grid-id="gallery" refresh-on-img-load="false" >
			     <li data-ng-repeat="pic in prods" class="grid grid-prods">
			         <img src="{{prod.image}}" class="grid-img" data-actual-width = "{{prod.actualWidth}}"  data-actual-height="{{prod.actualHeight}}" />
					 <div class="details-container">
					 	<p>descripcion</p>
					 	<a href="" class="btn btn-default pull-right"><i class="fa fa-eye"></i></a>
					 	<a href="" class="btn btn-default"><i class="fa fa-cart-plus"></i></a>
					 </div>
			         
			     </li>
			 </ul>
		  </div>
		</div>
	</div>
</div>

