<div style="width: 100%; border-bottom: 1px solid rgba(189, 189, 189, 0.7);
    padding-bottom: 1%; padding-left: 10px;">
    <a href="" ng-repeat ="logo in logos" ng-click="setActiveLogo(logo)">
        <img src="{{logo.image}}" style="height: auto;
            width: 10%;
    margin-top: 7px;
        " ng-class="{'logo-active':logo.active == true}">
    </a>
</div>
<div style="margin-left: 90%; padding-top: 5px;">
    <a href="https://www.facebook.com/CofradiaCo/" target="_blank">
        <i class="fa fa-facebook-official fa-lg red-social-icon"></i>
    </a>
    <a href="" target="_blank">
        <i class="fa fa-twitter fa-lg red-social-icon"></i>
    </a>
    <a href="https://www.youtube.com/user/realmcrap" target="_blank">
        <i class="fa fa-youtube-play fa-lg red-social-icon"></i>
    </a> 
    <a href="https://www.instagram.com/tonyyamberla/" target="_blank">
        <i class="fa fa-instagram fa-lg red-social-icon"></i>
    </a>   
</div>

<header>
    <div id="header">
        <ul class="nav" style="margin-left: 15px;">
            <li ng-repeat="item in menuSuperior">
                <a href="#!{{item.link}}">
                    <div>
                    <i class="fa {{item.icon}}" aria-hidden="true"></i> {{item.nombre}}</div>
                </a>
                <ul ng-if="item.child.length>0">
                    <li ng-repeat="subitem in item.child">
                        <a href="#!{{subitem.link}}"><i class="fa {{item.icon}}" aria-hidden="true"></i> {{subitem.nombre}}</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#!/mystic" style="color: #ffc77a;">
                    <div>
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i> Mystic
                    </div>
                </a>
            </li>
            <li ng-show="!user">
                <a href="" ng-click="openLoginModal($event)">
                    <div>
                        <i class="fa fa-user-circle" aria-hidden="true"></i> Ingresar / Registrarse
                    </div>
                </a>
            </li>
            <li ng-show="user">
                <a href="">
                    <div>
                        <i class="fa fa-user-circle" aria-hidden="true"></i> {{user.datos.nombres}}
                    </div>
                </a>
                <ul>
                    <li ng-click="goTo('/administration')">
                        <a href="">
                            <i class="fa fa-desktop" aria-hidden="true"></i> Sistema
                        </a>
                    </li>
                    <li ng-click="logOut()">
                        <a href="">
                            <i class="fa fa-sign-out" aria-hidden="true"></i> Salir
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</header>

<div app-view-segment="1" layout="column" layout-fill></div>