
<md-toolbar class="md-table-toolbar md-default">
  <div class="md-toolbar-tools">
    <button type="button" class="btn btn-default" aria-label="Left Align" ng-click="addImage()">
	  <i class="fa fa-shopping-bag"></i> <i class="fa fa-plus"></i> Añadir Producto
	</button>
  </div>
</md-toolbar>
<hr>
<div class="row" style="padding-left: 2%;  padding-right: 2%;">
  <div class="col-sm-2 col-md-2" ng-repeat="prod in productsList">
    <div class="thumbnail">
      <img ng-src="{{prod.picDefault}}"/>
      <div class="caption">
        <h4><strong>{{prod.nombre}}</strong></h4>
        <hr>
        <p style="    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;">Pellentesque habitant morbi tristique senectus et netus et </p>
        <hr>
        <p>
          <a href="" class="btn btn-danger" ng-click="showDelete(img)"><i class="fa fa-trash"></i></a>
        </p>
      </div>
    </div>
  </div>
</div>