 <!-- Slider Start -->
 <!--    <section id="global-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="block">
                        <h1>Just some of our latest projects.</h1>
                        <p>Don’t just take our word for it. Check out some of our latest work.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
 -->
<div style="margin: 0 5% 0 5%;  padding: 7px;" >
<div style="width: 100%;
    text-align: center;" ng-show="!imgs"><img src="icons/loading.svg" width="50"></div>
    <ul class="dynamic-grid" angular-grid="imgs" ag-grid-width="200" ag-gutter-size="20" ag-grid-id="gallery" ag-refresh-on-img-load="false" cssGrid="false">
         <li data-ng-repeat="pic in imgs" >
            <a ng-click="openLightboxModal($index)">
             <img ng-src="{{pic.url}}" class="img-grid" />
            </a>
         </li>
    </ul>
</div>
  
<!-- Call to action Start -->
    <!-- <section id="call-to-action">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="block">
              <h2>We design delightful digital experiences.</h2>
              <p>Read more about what we do and our philosophy of design. Judge for yourself The work and results we’ve achieved for other clients, and meet our highly experienced Team who just love to design.</p>
              <a class="btn btn-default btn-call-to-action" href="#" >Tell Us Your Story</a>
            </div>
          </div>
        </div>
      </div>
    </section> -->

    <!-- footer Start -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                  <div class="footer-manu">
                    <ul>
                      <li><a href="#">About Us</a></li>
                      <li><a href="#">Contact us</a></li>
                      <li><a href="#">How it works</a></li>
                      <li><a href="#">Support</a></li>
                      <li><a href="#">Terms</a></li>
                    </ul>
                  </div>
                  <p>Copyright &copy; Crafted by <a href="https://dcrazed.com/">Dcrazed</a>.</p>
                </div>
            </div>
        </div>
    </footer>