
<md-dialog aria-label="Cargar Imagen ">
  <form ng-cloak name="form" ng-submit="ingresar()">
    <md-dialog-content >
      <div id="gridContainer" ng-cloak>
         <md-content layout-padding>
         	<div style="text-align: center;">
         		<img src="icons/user.png" style="width: 20%;">
         	</div>
            <md-input-container class="md-icon-float md-block">
                <md-icon class="md-primary">person_pin</md-icon>
                <label>Usuario</label>
                <input name="nick" ng-model="item.nick" type="text" bodega-validator required>
                <div ng-messages="item.nick.$error">
                    <div ng-message="required">Campo Requerido</div>
                </div>
            </md-input-container>
            <md-input-container class="md-icon-float md-block">
                <md-icon class="md-primary">fingerprint</md-icon>
                <label>Contraseña</label>
                <input name="pass" ng-model="item.pass" type="password" required>
                <div ng-messages="form.pass.$error">
                    <div ng-message="required">Campo Requerido</div>
                </div>
                <md-button type="button" class="md-primary" style="float: right;" ng-click="openRegister()">
                 ¿No  tienes cuenta? <strong>REGISTRATE</strong>
                </md-button>
            </md-input-container>
         </md-content>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button ng-click="cancel()">
       Cancelar
      </md-button>
      <md-button type="submit" class="md-primary" ng-disabled="form.$invalid || saving ">
      <i class="fa fa-spinner fa-spin fa-fw" ng-show="saving"></i>
       Aceptar
      </md-button>
    </md-dialog-actions>
 </form>
</md-dialog>