<style type="text/css">
    md-dialog.fullscreen-dialog {
        max-width: 80%;
        max-height: 80%;
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
</style>
<md-dialog aria-label="Cargar Imagen " class="fullscreen-dialog">
    <form ng-cloak name="form" ng-submit="sendCar()">
        <md-dialog-content>
                <md-content>
                    <md-tabs md-dynamic-height md-border-bottom>
                        <md-tab>
                            <md-tab-label><i class="fa fa-shopping-bag"></i> Mi Carrito<strong>{{prodSelected.nombre}}</strong></md-tab-label>
                            <md-tab-body>       
                                <!-- <div class="form-group col-md-6">
                                  <p ng-repeat="prod in carList.items">
                                    {{prod.nombre}}
                                  </p>
                                </div> -->
                                <!-- <md-content>
                                    <md-list>
                                      <md-list-item class="md-3-line" ng-repeat="prod in carList.items">
                                        <img ng-src="{{prod.picDefault}}" class="md-avatar" alt="{{item.who}}">
                                        <div class="md-list-item-text">
                                          <h3>{{prod.nombre}}</h3>
                                          <h4>{{prod.description}}</h4>
                                          <p>{{prod.notes}}</p>
                                        </div>
                                        <md-button class="md-secondary"><i class="fa fa-trash"></i></md-button>
                                        <md-divider ng-if="!$last"></md-divider>
                                      </md-list-item>
                                    </md-list>
                                </md-content> -->
                                <md-table-container>
                                  <table md-table md-row-select multiple ng-model="selected" md-progress="promise">
                                    <thead md-head md-order="query.order" md-on-reorder="getDesserts">
                                      <tr md-row>
                                        <th md-column><span>Imagen</span></th>
                                        <th md-column md-numeric>Nombre</th>
                                        <th md-column md-numeric ><span>Precio U.</span></th>
                                        <th md-column md-numeric>Cantidad</th>
                                        <th md-column md-numeric>Total</th>
                                        <th md-column md-numeric>Acción</th>
                                      </tr>
                                    </thead>
                                    <tbody md-body>
                                      <tr md-row md-select="prod" md-select-id="name" md-auto-select ng-repeat="prod in carList.items">
                                        <td md-cell>
                                        <img ng-src="{{prod.picDefault}}" width="50" alt="{{item.who}}"></td>
                                        <td md-cell>{{prod.nombre}}</td>
                                        <td md-cell>{{prod.precio}}</td>
                                        <td md-cell width="150">
                                              <md-input-container flex="70">
                                                <input type="number" value="{{prod.cantidadInCar}}" ng-model="prod.cantidadInCar" ng-change="updateCantidad($index,prod)" min="1" aria-label="aa">
                                              </md-input-container>
                                        </td>
                                        <td md-cell>{{prod.totalCu}}</td>
                                        <td md-cell>
                                            <md-button class="md-secondary" ng-click="removeItemCar($index)">
                                                <i class="fa fa-trash"></i>
                                            </md-button>
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </md-table-container>
                            </md-tab-body>
                        </md-tab>
                    </md-tabs>
                </md-content>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button ng-click="cancel()">
                Cerrar
            </md-button>
            <md-button type="submit" class="md-primary" ng-disabled="form.$invalid || saving || carList.items.length == 0 || !carList" ng-show="!showRegister">
                <i class="fa fa-paper-plane"></i>
                <i class="fa fa-spinner fa-spin fa-fw" ng-show="loading"></i>Enviar Pedido
            </md-button>
            <md-button type="button" ng-click="openRegister($event)" class="md-primary" ng-disabled="form.$invalid || saving || carList.items.length == 0 || !carList" ng-show="showRegister">
                <i class="fa fa-user"></i> REGISTRATE para enviar pedido
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>