<style type="text/css">
    md-dialog.fullscreen-dialog {
        max-width: 99%;
        max-height: 99%;
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
</style>
<md-dialog aria-label="Cargar Imagen " class="fullscreen-dialog">
    <form ng-cloak name="form" ng-submit="ingresar()">
        <md-dialog-content>
            <div id="gridContainer" ng-cloak>
                <md-content>
                    <md-tabs md-dynamic-height md-border-bottom>
                        <md-tab>
                            <md-tab-label><i class="fa fa-shopping-bag"></i> <strong>{{prodSelected.nombre}}</strong></md-tab-label>
                            <md-tab-body>

                                <div class="form-group col-md-6" style="padding-top: 10px;">
                                    <div class="panel panel-default">
                                        <div class="panel-body">
                                            <i class="fa fa-picture-o"></i> Multimedia
                                        </div>
                                        <div class="panel-footer" style="display: -webkit-box;">
                                            <div class="container">
                                                <div class="demo-preview">
                                                    <img src="images/zoom/1-medium.jpg" wip-image-zoom="zoomOptions1" selected-model="selected" selected-index="selectedIndex">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group col-md-6" style="padding-top: 10px;">
                                    <div class="panel panel-default">
                                        <div class="panel-body">
                                            <i class="fa fa-info"></i> Detalles del producto
                                        </div>
                                        <div class="panel-footer">
                                            <ul class="list-group">
                                                <li class="list-group-item" style="word-wrap: break-word;">
                                                    <i class="fa fa-info"></i> {{prodSelected.description}}
                                                </li>
                                                <li class="list-group-item">
                                                    <i class="fa fa-angle-double-right"></i> <strong>Stock disponible</strong>
                                                    <span class="badge" style="background-color: #5bc0de;">{{prodSelected.stock}}</span>
                                                </li>
                                                <li class="list-group-item">
                                                    <i class="fa fa-angle-double-right"></i> <strong>Categoria</strong>
                                                    <span class="badge">{{prodSelected.categoria}}</span>
                                                </li>
                                                <li class="list-group-item">
                                                    <ui-select ng-model="prodSelected.color" theme="bootstrap">
                                                        <ui-select-match placeholder="Selecione color">{{$select.selected.nombre}}</ui-select-match>
                                                        <ui-select-choices repeat="item.idcolores as item in prodSelected.colores | filter: $select.search">
                                                          <span ng-bind-html="item.nombre | highlight: $select.search"></span>
                                                        </ui-select-choices>
                                                    </ui-select>
                                                </li>
                                                <li class="list-group-item">
                                                  <ui-select ng-model="prodSelected.talla" theme="bootstrap">
                                                      <ui-select-match placeholder="Selecione la talla">{{$select.selected.nombre}}</ui-select-match>
                                                      <ui-select-choices repeat="item.idtallas as item in prodSelected.tallas | filter: $select.search">
                                                        <span ng-bind-html="item.nombre | highlight: $select.search"></span>
                                                      </ui-select-choices>
                                                  </ui-select>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </md-tab-body>
                        </md-tab>
                        <!-- <md-tab>
                            <md-tab-label><i class="fa fa-list"></i> Descripción</md-tab-label>
                            <md-tab-body>

                            </md-tab-body>
                        </md-tab> -->
                    </md-tabs>
                </md-content>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <md-button type="submit" class="md-primary" ng-disabled="!prodSelected.color || !prodSelected.talla || saving " ng-click="addToCar(prodSelected)">
                <i class="fa fa-cart-plus"></i> Añadir
            </md-button>
            <md-button ng-click="cancel()">
                Aceptar
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>