<md-tabs md-dynamic-height md-border-bottom>
    <md-tab>
        <md-tab-label>
            <i class="fa fa-archive"></i> 
            <strong>Pedidos</strong>
        </md-tab-label>
        <md-tab-body>
            <br>
            <nav ng-show="(!pedidosList || pedidosList.length == 0) && loading == false" class="navbar navbar-default" style="margin-left: 40px; margin-right: 40px;">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <p class="navbar-text">
                            <i class="fa fa-exclamation-triangle"></i> No hay pedidos para mostrar
                        </p>
                    </div>
                </div>
            </nav>
            <div style="width: 100%;text-align: center;" ng-show="loading">
                <img src="icons/loading.svg" width="30">
            </div>
             <md-table-container layout-padding ng-show="pedidosList || pedidosList.length > 0">
                <table md-table md-progress="promise">
                    <thead md-head md-order="query.order" md-on-reorder="data_inv_producto_get">
                        <tr md-row>
                            <th md-column md-numeric>CODIGO</th>
                            <th md-column md-numeric>CLIENTE</th>
                            <th md-column md-numeric>NRO. PRODS</th>
                            <th md-column md-numeric>TOTAL</th>
                            <th md-column md-numeric>FECHA</th>
                            <th md-column md-numeric>ESTADO</th>
                            <th md-column md-numeric>ACCIÓN</th>
                        </tr>
                    </thead>
                    <tbody md-body>
                        <tr md-row md-select="color" md-select-id="name" md-auto-select ng-repeat="pedido in pedidosList">
                            <td md-cell>{{pedido.codigo}}</td>
                            <td md-cell>{{pedido.usuario.nombres + ' ' + pedido.usuario.apellidos}}</td>
                            <td md-cell>{{pedido.detalles.length}}</td>
                            <td md-cell>$ {{pedido.total}}</td>
                            <td md-cell>{{pedido.createat}}</td>
                            <td md-cell>
                                <span class="label" ng-class="{'label-warning':pedido.estado == 'Pendiente',
                                'label-info':pedido.estado == 'Progreso',
                                'label-success':pedido.estado == 'Enviado'}">{{pedido.estado}}
                                </span>
                            </td>
                            <td md-cell>
                                <a href="" class="btn btn-success" ng-click="showChangeStatus(pedido)" uib-tooltip="Aceptar Pedido" ng-show="pedido.estado != 'Enviado'">
                                    <i class="fa fa-check"></i>
                                </a>
                                <a href="" class="btn btn-default" ng-click="viewDetails($event,pedido)" uib-tooltip="Ver Detalles">
                                    <i class="fa fa-eye"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </md-table-container>
            
        </md-tab-body>
    </md-tab>
    <md-tab md-on-select="getBancos()">
        <md-tab-label>
            <i class="fa fa-credit-card-alt"></i> 
            <strong>Bancos</strong>
        </md-tab-label>
        <md-tab-body>
            <md-toolbar class="md-table-toolbar md-default">
                <div class="md-toolbar-tools">
                    <button type="button" class="btn btn-default" aria-label="Left Align" ng-click="addBanco(prod)">
                        <i class="fa fa-shopping-bag"></i> <i class="fa fa-plus"></i> Añadir Banco
                    </button>
                </div>
            </md-toolbar>
            <hr>
            <nav ng-show="(!bancosList || bancosList.length == 0) && loading == false" class="navbar navbar-default" style="margin-left: 40px; margin-right: 40px;">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <p class="navbar-text">
                            <i class="fa fa-exclamation-triangle"></i> 
                            No hay bancos para mostrar
                        </p>
                    </div>
                </div>
            </nav>
            <div style="width: 100%;text-align: center;" ng-show="loading">
                <img src="icons/loading.svg" width="30">
            </div>
             <md-table-container layout-padding ng-show="bancosList || bancosList.length > 0">
                <table md-table md-progress="promise">
                    <thead md-head md-order="query.order" md-on-reorder="getBancos">
                        <tr md-row>
                            <th md-column >NOMBRE</th>
                            <th md-column >CUENTA</th>
                            <th md-column >TIPO DE CUENTA</th>
                            <th md-column >ACCIÓN</th>
                        </tr>
                    </thead>
                    <tbody md-body>
                        <tr md-row md-select="color" md-select-id="name" md-auto-select ng-repeat="banco in bancosList">
                            <td md-cell>{{banco.nombre}}</td>
                            <td md-cell>{{banco.nro_cuenta}}</td>
                            <td md-cell>{{banco.tipo_cuenta}}</td>
                            <td md-cell>
                                <a href="" class="btn btn-primary" ng-click="addBanco(banco)" uib-tooltip="Editar">
                                    <i class="fa fa-edit"></i>
                                </a>
                                <a href="" class="btn btn-danger" ng-click="showDelete(banco)" uib-tooltip="Eliminar">
                                    <i class="fa fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </md-table-container>
        </md-tab-body>
    </md-tab>
</md-tabs>